#welcome {
    background: #5ba002;
}

.button {
    background: #5ba002;
}

body {
    background: #d2d400;
    color: black;
}

#copyright p {
    color: black;
}

#banner, .title .byline {
    color: white;
}

#header-wrapper {
    height: 430px;
}

.title h2 {
    padding-bottom: 50px;
}

.boxD {
    width: 384px;
    margin-top: 310px !important;
}

.box-title {
    padding-bottom: 20px;
}

.box p {
    margin: 23px;
}

.box {
    margin-top: 20px;
}

.what-can-i-do li:before {
    content: "\2605 ";
}

.what-can-i-do li:after {
    content: " \2605";
}

.what-can-i-do li {
    font-size: 18px;
    padding: 6px;
}

#situationInSyria {
    margin: 50px;
}

.situation-in-syria .title {
    text-align: center;
    font-size: 2.7em;
    font-weight: bold;
    color: rgba(0,0,0,0.8);
}

.situation-in-syria-turkey-actions-list li {
    margin-top: 20px;
}

#conflictBackground {
    display: none;
}

.situation-in-syria-text {
    font-size: 20px;
}