<section class="content-section take-action">
    <div class="container text-center">
        <div class="row">
            {{ with .Site.Params.welcome }}
            <div class="title">
                <h2>{{ .title }}</h2>
                <span class="byline">{{ .subtitle }}</span>
            </div>
            <p>{{ .description | markdownify }}</p>
            <div class="rojava-img">
                <img src="images/rojava-logo.jpg">
            </div>
            {{end}}
        </div>
    </div>

    <div class="riotkit">
        <small>Page created by RiotKit, your technical anarchist collective</small>
    </div>
</section>
