<section class="content-section welcome">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12 mx-auto" style="text-align: justify;">
                W ostatnich latach w mediach było głośno o krwawych bombardowaniach miast takich jak Aleppo czy Efrin.<br/><br/>
                <h2>W tym momencie Kurdowie wraz z innymi grupami etnicznymi żyjącymi na terenie Rożawy wzywają nas
                    o pomoc! 9 października 2019 nastąpił atak ze strony Turcji na terytorium Rożawy.</h2>
                <small><a href="https://twitter.com/mustefabali/status/1181991298573590528" target="_blank" rel="nofollow">[1]</a></small>
                <small><a href="https://syria.liveuamap.com/en/2019/9-october-a-new-video-from-qamishlo-where-homes-in-residential" target="_blank" rel="nofollow">[2]</a></small>

                <br/><br/>
                <strong class="situation-in-syria-text">Do tej pory rząd Turecki zasłynął między innymi z:</strong>
                <ul class="situation-in-syria-turkey-actions-list">
                    <li><i>- Ustanowieniem granicy, przy której bez ostrzeżenia strażnicy strzelają nawet do cywili, w
                        tym rolników. Szacuje się, że od 2011 do 2019 roku aż 422 cywilów zostało zastrzelonych przez
                        Tureckich strażników granicznych
                        <small><a href="https://www.atlanticcouncil.org/blogs/syriasource/syrians-at-the-turkish-border-humiliation-torture-and-death" target="_blank" rel="nofollow">[1]</a></small>
                    </i></li><br/>
                    <li><i>- W mieście Efrin, będącym pod kontrolą m.in. Turcji przerabiane są szkoły na ośrodki
                        wojskowe, w pozostałych szkołach uczy się języka Tureckiego. Od Tureckiej okupacji zostało
                        zamkniętych 70 szkół. W porównaniu - na terenach Rożawy, mimo, że szkolnictwo ponoć nie jest
                        idealne to uczy się lokalnych trzech języków - Syryjskiego, Arabskiego i Kurdyjskiego

                        <small><a href="https://syrianobserver.com/EN/features/52334/kurdish-rights-group-turkey-has-taken-over-schools-and-turned-them-into-military-bases-and-prisons.html" target="_blank" rel="nofollow">[1]</a></small>
                        <small><a href="https://theregion.org/article/13234-turkey-rebels-turn-schools-into-military-bases-occupied-syria-039-s-afrin" target="_blank" rel="nofollow">[2]</a></small>
                        <small><a href="https://twitter.com/RojavaIC/status/1165523097103065088" target="_blank" rel="nofollow">[3]</a></small>
                    </i></li><br/>
                    <li><i>
                        - Wobec ludzi stosowane są tortury!
                        <small><a href="https://en.wikipedia.org/wiki/Torture_in_Turkey">[1]</a></small>
                        <small><a href="https://turkey.theglobepost.com/turkey-diplomats-torture/">[2]</a></small>
                        <small><a href="https://www.freedomfromtorture.org/what-we-do/fighting-torture/torture-around-the-world/turkey">[3]</a></small>
                    </i></li>
                </ul>
                <br>
                <strong class="situation-in-syria-text">
                    Przez dłuższy czas rząd Turecki obawiał się wejścia na terytorium Rożawy. Ostatecznie prezydent Turcji dostał zielone światło od Donalda Trumpa,
                    który zdradził Kurdów łamiąc umowę na mocy której zniesione zostały ufortyfikowania Kurdyjskie w zamian za ochronę przed rządem Tureckim, która nie nastąpiła.
                    <br/><br/>
                    Turcja rozpoczęła bombardowania miast i wsi w północno-wschodniej Syrii, ofiarami stali się cywile, dzieci. Ludzie dokładnie teraz tracą domy, postępuje masowa migracja ludności.
                    To katastrofa humanitarna! Nie możemy na nią pozwolić! Musimy to wszystko nagłośnić! Kurdowie i Kurdyjski nie zagrażają Turcji!
                </strong>

                <br><br>
                <a onclick="$('#conflictBackground').toggle();" style="cursor: pointer; float: right;"><i>Czytaj dalej,
                    zobacz jak rozpoczął się konflikt w Syrii</i></a>

                <div id="conflictBackground" class="situation-in-syria-text">
                    <br><br><br>
                    <p>
                        W Syrii od 2011 roku trwa wojna domowa pomiędzy reżimowym rządem Baszszara al-Asada a różnorodną
                        zbrojną opozycją.<br/>
                        Wszystko zaczęło się od masowych demonstracji z powodu niezadowolenia społecznego m.in. <strong>brakiem
                        demokracji, nepotyzmem, nadużywaniem władzy, autokracją, odebraniem praw obywatelskich</strong>.<br/><br/>
                        <strong>Do demonstrantów strzelano z broni palnej, jednego dnia zginęło nawet ponad 50
                            osób</strong>. Rozpoczęły się masowe aresztowania aktywistów oskarżanych o podburzanie
                        nastrojów społecznych.
                        Aktywistów torturowano, w tym zatrzymane nieletnie osoby za malowanie po murach antyrządowych
                        haseł.<br/>
                        Organizacja obrońców praw człowieka Human Rights Watch ujawniła, że <strong>syryjskie służby
                        bezpieczeństwa torturowały setki osób zatrzymanych podczas antyrządowych demonstracji: poddawano
                        je elektrowstrząsom, pozbawiano snu i wody.</strong>

                        <br/><br/>Wybuchła wojna domowa.

                        <br/><br/>
                        <strong>W wojnie domowej pojawiło się kilka stron, bardzo mocno upraszczając:</strong><br/>
                        - <strong>Rożawa</strong> (Kurdowie wraz z różnymi grupami etnicznymi, walczący o demokrację i
                        samostanowienie, o autonomię)<br/>
                        - <strong>Wolna Armia Syryjska</strong> (tzw. zbuntowane wojska, i współpracująca z nimi
                        <strong>Turcja</strong>, oraz inne - mniejsze ugrupowania)<br/>
                        - <strong>Siły rządowe i pro-rządowe</strong> (wspierane przez m.in.
                        <strong>Rosję</strong>)<br/>
                        - <strong>DAESH</strong> (Państwo Islamskie, skrajnie nacjonalistyczni radykałowie)
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
