<section class="content-section welcome">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12 mx-auto" style="text-align: justify;">
                W mediach było głośno o krwawych bombardowaniach miast takich jak Aleppo czy Efrin. Niestety miasta te
                zostały zajęte przez siły m.in. Tureckie jak i rządowe oraz pro-rządowe.<br/>
                <strong>W tym momencie Kurdowie wraz z innymi grupami etnicznymi żyjącymi na terenie Rożawy wzywają nas
                    o pomoc! Turecki rząd grozi wejściem na tereny północno-wschodniej Syrii.</strong>
                6 oraz 7 września 2019 zostały ogłoszone międzynarodowymi dniami solidarności z Rożawą.
                <small><a href="https://twitter.com/RISEUP4R0JAVA/status/1168208054334173185" target="_blank" rel="nofollow">[1]</a></small>

                <br/><br/>
                <strong class="situation-in-syria-text">Do tej pory rząd Turecki zasłynął między innymi z:</strong>
                <ul class="situation-in-syria-turkey-actions-list">
                    <li><i>- Ustanowieniem granicy, przy której bez ostrzeżenia strażnicy strzelają nawet do cywili, w
                        tym rolników. Szacuje się, że od 2011 do 2019 roku aż 422 cywilów zostało zastrzelonych przez
                        Tureckich strażników granicznych
                        <small><a href="https://www.atlanticcouncil.org/blogs/syriasource/syrians-at-the-turkish-border-humiliation-torture-and-death" target="_blank" rel="nofollow">[1]</a></small>
                    </i></li>
                    <li><i>- W mieście Efrin, będącym pod kontrolą m.in. Turcji przerabiane są szkoły na ośrodki
                        wojskowe, w pozostałych szkołach uczy się języka Tureckiego. Od Tureckiej okupacji zostało
                        zamkniętych 70 szkół. W porównaniu - na terenach Rożawy, mimo, że szkolnictwo ponoć nie jest
                        idealne to uczy się lokalnych trzech języków - Syryjskiego, Arabskiego i Kurdyjskiego

                        <small><a href="https://syrianobserver.com/EN/features/52334/kurdish-rights-group-turkey-has-taken-over-schools-and-turned-them-into-military-bases-and-prisons.html" target="_blank" rel="nofollow">[1]</a></small>
                        <small><a href="https://theregion.org/article/13234-turkey-rebels-turn-schools-into-military-bases-occupied-syria-039-s-afrin" target="_blank" rel="nofollow">[2]</a></small>
                        <small><a href="https://twitter.com/RojavaIC/status/1165523097103065088" target="_blank" rel="nofollow">[3]</a></small>
                    </i></li>
                </ul>
                <br>
                <br><strong class="situation-in-syria-text">Przy tym wszystkim nie możemy milczeć także o tej części
                Syrii, w której nie wystosowano apelu solidarnościowego, ale giną cywile, spadają bomby zrzucane przez
                pro-rządowe (np. Rosyjskie), rządowe i Tureckie samoloty, ludzie zostają bez domów.
                Dlatego solidaryzujemy się z całą ludnością cywilną! Stop wojnie!</strong>
                <br>
                <br>
                <strong class="situation-in-syria-text">
                    Nagłośnijmy kryzys humanitarny! Nagłośnijmy rewolucję społeczną - w kraju wschodnim, na terenie
                    Rożawy kobiety mają równe prawa, szanuje się mniejszości etniczne i religijne, wspólnie, oddolnie,
                    demokratycznie podejmuje się decyzje! Okażmy w ten sposób szacunek tym zmarłym, którzy zostali
                    zabici w obronie tych demokratycznych wartości!
                </strong>

                <br><br>
                <a onclick="$('#conflictBackground').toggle();" style="cursor: pointer; float: right;"><i>Czytaj dalej,
                    zobacz jak to się rozpoczęło</i></a>

                <div id="conflictBackground" class="situation-in-syria-text">
                    <br><br><br>
                    <p>
                        W Syrii od 2011 roku trwa wojna domowa pomiędzy reżimowym rządem Baszszara al-Asada a różnorodną
                        zbrojną opozycją.<br/>
                        Wszystko zaczęło się od masowych demonstracji z powodu niezadowolenia społecznego m.in. <strong>brakiem
                        demokracji, nepotyzmem, nadużywaniem władzy, autokracją, odebraniem praw obywatelskich</strong>.<br/><br/>
                        <strong>Do demonstrantów strzelano z broni palnej, jednego dnia zginęło nawet ponad 50
                            osób</strong>. Rozpoczęły się masowe aresztowania aktywistów oskarżanych o podburzanie
                        nastrojów społecznych.
                        Aktywistów torturowano, w tym zatrzymane nieletnie osoby za malowanie po murach antyrządowych
                        haseł.<br/>
                        Organizacja obrońców praw człowieka Human Rights Watch ujawniła, że <strong>syryjskie służby
                        bezpieczeństwa torturowały setki osób zatrzymanych podczas antyrządowych demonstracji: poddawano
                        je elektrowstrząsom, pozbawiano snu i wody.</strong>

                        <br/><br/>Wybuchła wojna domowa.

                        <br/><br/>
                        <strong>W wojnie domowej pojawiło się kilka stron, bardzo mocno upraszczając:</strong><br/>
                        - <strong>Rożawa</strong> (Kurdowie wraz z różnymi grupami etnicznymi, walczący o demokrację i
                        samostanowienie, o autonomię)<br/>
                        - <strong>Wolna Armia Syryjska</strong> (tzw. zbuntowane wojska, i współpracująca z nimi
                        <strong>Turcja</strong>, oraz inne - mniejsze ugrupowania)<br/>
                        - <strong>Siły rządowe i pro-rządowe</strong> (wspierane przez m.in.
                        <strong>Rosję</strong>)<br/>
                        - <strong>DAESH</strong> (Państwo Islamskie, skrajnie nacjonalistyczni radykałowie)
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
